.App {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 840px;
  margin: 25px auto;
}

.list {
  width: 18rem;
}

.details {
  width: 18rem;
  position: relative;
  min-height: 100vh;
}

.loader {
  position: absolute;
  left: 45%;
  z-index: 1; 
}